<div class="container main-container">
  <div class="row" *ngIf="chatService.usuario.uid">
    <div class="col-md-4">
      <div class="chat-window">
        <app-chat></app-chat>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-danger" (click)="chatService.logout()">
          Cerrar Sesion
        </button>
      </div>
    </div>
  </div>

  <div class="row"></div>
  <app-login *ngIf="!chatService.usuario.uid"></app-login>
</div>

<router-outlet></router-outlet>
